﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogsFolder>
@using ContentModels = CMSWebsite;
@using Umbraco.Web
@{
    var helper = new UmbracoHelper(UmbracoContext.Current);

    var typedHomeRootNodeId = helper.TypedContentAtRoot().FirstOrDefault().Id;

    var homeByGuid = helper.TypedContent(typedHomeRootNodeId);

    var homeObject = (CMSWebsite.Home)homeByGuid;
}
@{
    var pageId = Umbraco.Field("pageID").ToString();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var umbracoPageId = Convert.ToInt32(pageId);
    IPublishedContent content = umbracoHelper.TypedContent(umbracoPageId);

    //Get the Blogs
    var childBlogs = content.Children;
    IEnumerable<IPublishedContent> sortedBlogs = childBlogs.Take(10).OrderByDescending(x => x.UpdateDate);

}
@{
    Layout = "Master.cshtml";
}

<section id="hero" class="hero u-full-width">
    <div class="container">
        <div class="row">
            @section MainMenu {
                <a href="/">Home</a>
                @foreach (var item in homeObject.TopLevelMenuItems)
                {

                    if (item.Name == content.Name)
                    {

                        <a href="@item.Url" class="active">@item.Name</a>

                    }
                    else
                    {
                        <a href="@item.Url">@item.Name</a>
                    }

                }

            }
        </div>

        <div class="row">
            <h1>Blogs</h1>
        </div>

        <div class="row">
            <ul class="work-items isotope-item design u-cf">

                @foreach (CMSWebsite.BlogItem item in sortedBlogs)
                {
                    <li class="four columns isotope-item design ui">
                        <a href="@item.Url">
                            <img src="@item.FeaturedImage.Url" width="150" height="75" />
                            <div class="work-detail">
                                <div class="vertical-centered">
                                    <h3>@item.Title</h3>
                                    <p class="separator orange">
                                        @*@item.ImageDescription*@
                                        @item.Title
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>


</section>



