﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogItem>
@using ContentModels = CMSWebsite;
@using Umbraco.Web
@{
    var helper = new UmbracoHelper(UmbracoContext.Current);

    var typedHomeRootNodeId = helper.TypedContentAtRoot().FirstOrDefault().Id;

    var homeByGuid = helper.TypedContent(typedHomeRootNodeId);

    var homeObject = (CMSWebsite.Home)homeByGuid;

    var pageId = Umbraco.Field("pageID").ToString();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var umbracoPageId = Convert.ToInt32(pageId);
    IPublishedContent content = umbracoHelper.TypedContent(umbracoPageId);

    //get the sections
    var blogBodySections = content.Children;
    IEnumerable<IPublishedContent> sortedBodySection = blogBodySections.Take(10);
    //Get the navigation
    var blogsPage = content.Parent;

    //get the image sections
    var blog = (CMSWebsite.BlogItem)content;

}
@{
    Layout = "Master.cshtml";
}
@section Head {

}

<section id="hero" class="hero u-full-width">
    <div class="hero-image"></div>
    <div class="container centered">
        <div class="row">
            @section MainMenu {
                <a href="/">Home</a>
                @foreach (var item in homeObject.TopLevelMenuItems)
                {

                    if (item.Name == content.Name)
                    {

                        <a href="@item.Url" class="active">@item.Name</a>

                    }
                    else
                    {
                        <a href="@item.Url">@item.Name</a>
                    }

                }

            }

        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3 class="separator">@Umbraco.Field("title")</h3>

        </div>
        @{
            if (CurrentPage.HasValue("featuredImage", true))
            {
                <div class="row">

                    <div id="featuredImage" class="three column">
                        <img width="600" height="300" src="@CurrentPage._featuredImage.Url" />
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="three column" style="align-content:center;">
                @Umbraco.Field("bodyOne")
            </div>
        </div>

    </div>

</section>

<section id="contentSections" class="u-full-width">
    <div class="container">
        <div class="row">
            <h3>Content</h3>
        </div>

        @foreach (CMSWebsite.BlogSection item in sortedBodySection)
        {
            <div class="row">
                <div class="three column" style="margin-top: 5%">

                    <div id="BlogSection">
                        @Html.Raw(@item.BlogContentSection.ToString())
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@if (blog.ImageSections != null)
{
    <section id="imageSections" class="u-full-width">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3>Image Sections</h3>
                </div>
            </div>

            <div class="row">
                <ul class="work-items isotope-item design u-cf">
                    @foreach (CMSWebsite.BlogSectionImage item in blog.ImageSections)
                    {
                        <li class="four columns isotope-item design ui">
                            <img src="@item.Url" width="500" height="300" />
                            <div class="work-detail">
                                <div class="vertical-centered">
                                    <h3>@item.ImageTitle</h3>
                                    <p class="separator orange">
                                        @item.ImageDescription
                                    </p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            
        </div>

    </section>
}





