﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarouselPage>
@using ContentModels = CMSWebsite;
@using Umbraco.Web;
@{
    var helper = new UmbracoHelper(UmbracoContext.Current);

    var typedHomeRootNodeId = helper.TypedContentAtRoot().FirstOrDefault().Id;

    var homeByGuid = helper.TypedContent(typedHomeRootNodeId);

    var homeObject = (CMSWebsite.Home)homeByGuid;

    var pageId = Umbraco.Field("pageID").ToString();
    var umbracoPageId = Convert.ToInt32(pageId);
    IPublishedContent content = helper.TypedContent(umbracoPageId);

}

@{
    Layout = "Master.cshtml";
}


<section id="hero" class="hero u-full-width">
    <div class="hero-image"></div>

    <div class="container centered">
        <div class="row">
            @section MainMenu {

                @foreach (var item in homeObject.TopLevelMenuItems)
                {

                    if (item.Name == content.Name)
                    {

                        <a href="@item.Url" class="active">@item.Name</a>

                    }
                    else
                    {
                        <a href="@item.Url">@item.Name</a>
                    }

                }

            }

        </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative;z-index:1;">

        <div class="carousel-inner" role="listbox">

            @if (homeObject.CarouselImages != null)
            {
                var countCarousels = homeObject.CarouselImages.Count();
                var carouselImages = homeObject.CarouselImages;

                var firstImage = carouselImages.ToList().First();

                var skipFirst = carouselImages.Skip(1);

                if (countCarousels >= 1)
                {

                    var skippedImage = (CMSWebsite.CarouselImage)firstImage;


                    //Get the first one
                    <div class="item active">
                        <img src="@skippedImage.Url" alt="Chania">
                        <div class="carousel-caption">
                            <h3>@skippedImage.Flash</h3>
                            <p>@skippedImage.Title</p>
                        </div>
                    </div>


                    foreach (CMSWebsite.CarouselImage item in skipFirst)
                    {

                        <div class="item">
                            <img src="@item.Url" alt="Chania">
                            <div class="carousel-caption">
                                <h3>@item.Flash</h3>
                                <p>@item.Title</p>
                            </div>
                        </div>

                    }

                }

            }

        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        </div>



</section>