﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CompanyDetails>
@using ContentModels = CMSWebsite;
@using Umbraco.Web
@using System.Text
@{
    var helper = new UmbracoHelper(UmbracoContext.Current);

    var typedHomeRootNodeId = helper.TypedContentAtRoot().FirstOrDefault().Id;

    var homeByGuid = helper.TypedContent(typedHomeRootNodeId);

    var homeObject = (CMSWebsite.Home)homeByGuid;

    var pageId = Umbraco.Field("pageID").ToString();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var umbracoPageId = Convert.ToInt32(pageId);
    IPublishedContent content = umbracoHelper.TypedContent(umbracoPageId);

    var companyDetails = (CMSWebsite.CompanyDetails)content;

}
@{
    Layout = "Master.cshtml";
}

@section Meta{

    <title>@Umbraco.Field("metaTitle")</title>
    <meta name="description" content="@Umbraco.Field("metaDescription")" />
    <link rel="canonical" href="@homeObject.UrlAbsolute()" />
    <meta property="og:title" content="@Umbraco.Field("metaTitle")" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="@Umbraco.Field("metaDescription")" />
    <meta property="og:locale" content="en-UK" />
    <meta property="og:site_name" content="" />
    <meta property="twitter:title" content="@Umbraco.Field("metaTitle")" />
    <meta property="twitter:description" content="@Umbraco.Field("metaDescription")" />
    <meta property="twitter:url" content="@homeObject.UrlAbsolute()" />

}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 100%;
        background-color: grey;
    }

    .featured-bg-image {
        color: black;
    }
</style>

<section id="hero" class="hero u-full-width">
    <div class="hero-image"></div>
    <div class="container">
        <div class="row">

            @section MainMenu {
                <a href="/">Home</a>
                @foreach (var item in homeObject.TopLevelMenuItems)
                {

                    if (item.Name == content.Name)
                    {

                        <a href="@item.Url" class="active">@item.Name</a>

                    }
                    else
                    {
                        <a href="@item.Url">@item.Name</a>
                    }

                }

            }


            <div class="twelve columns">
                <h1 class="separator">@Umbraco.Field("H1")</h1>
                <h2>@Umbraco.Field("H2")</h2>
            </div>
        </div>
        <div class="row">
            <p>@companyDetails.Heading</p>
        </div>
        <div class="row">
            <p>@companyDetails.MainIntroduction</p>
        </div>
    </div>
</section>

<section data-sr id="creativity" class="creativity u-full-width featured-bg-image">
    <div class="container centered">
        <div class="row">
            <h4 class="centered">
                Map should go here
            </h4>

            <div class="map-holder">
                <div id="map"></div>
                <script>
                    function initMap() {

                        var center = { lat: @companyDetails.HeadOfficeLatitude, lng: @companyDetails.HeadOfficeLongitude };

                        var locations = [

                            @{ StringBuilder builder = new StringBuilder();
                                string locations = string.Empty;
                                foreach (CMSWebsite.CompanyLocations location in companyDetails.Locations)

                                {
                                    //var directions = "Get Directions";
                                    //locations = string.Format("['Get Directions',{0},{1}],", location.Latitude, location.Longitude);

                                    //locations = locations + locations;
                                    var title = location.GoogleDirectionsLink;

                                    builder.Append(string.Format("['{0} Office',{1},{2}],", title, location.Latitude, location.Longitude));

                                }

                                @*@Html.Raw(locations)*@

                                @Html.Raw(builder.ToString())
                            }


                            //['Philz Coffee<br>\801 S Hope St A, Los Angeles, CA 90017<br>\<a href="https://goo.gl/maps/L8ETMBt7cRA2">Get Directions</a>', 34.046438, -118.259653],


                            //['Philz Coffee<br>\525 Santa Monica Blvd, Santa Monica, CA 90401<br>\<a href="https://goo.gl/maps/PY1abQhuW9C2">Get Directions</a>', 34.017951, -118.493567],


                        ];

                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 9,
                            center: center
                        });

                        var infowindow = new google.maps.InfoWindow({});

                        var marker, count;

                        for (count = 0; count < locations.length; count++) {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[count][1], locations[count][2]),
                                map: map,
                                title: locations[count][0]
                            });

                            google.maps.event.addListener(marker, 'click', (function (marker, count) {
                                return function () {
                                    infowindow.setContent(locations[count][0]);
                                    infowindow.open(map, marker);
                                }
                            })(marker, count));
                        }
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaq-YHmrD587YO0qfxw4Bvc8u8hiHTZ_A&callback=initMap">

                </script>


            </div>
        </div>
    </div>

</section>