﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = CMSWebsite;
@using System.Configuration;
@using Umbraco.Web;
@{
    var helper = new UmbracoHelper(UmbracoContext.Current);

    var typedHomeRootNodeId = helper.TypedContentAtRoot().FirstOrDefault().Id;

    var homeByGuid = helper.TypedContent(typedHomeRootNodeId);

    var homeObject = (CMSWebsite.Home)homeByGuid;
}

@{
    Layout = "Master.cshtml";
}

@section Meta{

    <title>@Umbraco.Field("metaTitle")</title>
    <meta name="description" content="@Umbraco.Field("metaDescription")" />
    <link rel="canonical" href="@homeObject.UrlAbsolute()" />
    <meta property="og:title" content="@Umbraco.Field("metaTitle")" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="@Umbraco.Field("metaDescription")" />
    <meta property="og:locale" content="en-UK" />
    <meta property="og:site_name" content="" />
    <meta property="twitter:title" content="@Umbraco.Field("metaTitle")" />
    <meta property="twitter:description" content="@Umbraco.Field("metaDescription")" />
    <meta property="twitter:url" content="@homeObject.UrlAbsolute()" />

}

<nav class="navigation">
    <a href="#" class="menu-icon">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="main-navigation" role="navigation">

        <li><a href="#hero">Home</a></li>
        <li><a href="#introduction">Introduction</a></li>

        @if (!string.IsNullOrWhiteSpace(homeObject.CreativityButtonText))
        {
            <li><a href="#creativity">Creativity</a></li>
        }

        <li><a href="#work">Work</a></li>
        <li><a href="#help">Help</a></li>

        @if (!string.IsNullOrWhiteSpace(homeObject.OurClientsH3))
        {
            <li><a href="#clients">Clients</a></li>
        }

        <li><a href="#about">About</a></li>

        @if (!string.IsNullOrWhiteSpace(homeObject.VideoLink))
        {
            <li><a href="#video">Video</a></li>
        }

        <li><a href="#why-us">Why us?</a></li>
        <li><a href="#contact">Contact</a></li>

    </ul>
</nav>



<section id="hero" class="hero u-full-width">
    <div class="hero-image"></div>

    <div class="container centered">
        <div class="twelve columns">
            <h1 class="separator">@Umbraco.Field("H1")</h1>
            <h2>
                @Umbraco.Field("H2")
            </h2>
            <h3>
                @Umbraco.Field("subBanner")
            </h3>
            <div class="row">
                @homeObject.TopSectionIntro
            </div>
        </div>
    </div>

</section>

<section data-sr id="introduction" class="introduction u-full-width">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3 class="separator">@Umbraco.Field("introductionH3")</h3>
                <h4>@Umbraco.Field("introductionH4")</h4>
                <div class="row">
                    @homeObject.IntroductionText
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Creativity -->
@if (Umbraco.Field("creativityButtonText") != null)
{
    if (!string.IsNullOrWhiteSpace(homeObject.CreativityButtonText))
    {
        <section data-sr id="creativity" class="creativity u-full-width featured-bg-image">
            <h4 class="centered">
                <button class="button inverted">@Umbraco.Field("creativityButtonText")</button>
            </h4>
        </section>
    }
}

<!-- Work -->

@if (homeObject.OfferedServices != null)
{

    <section data-sr id="work" class="work u-full-width">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3 class="separator">@Umbraco.Field("ourWorkH3")</h3>
                </div>
            </div>
            <div class="row">
                <ul class="work-filters u-full-width">
                    <li class="active">
                        <a href="#" data-filter="*">All</a>
                    </li>

                    @foreach (CMSWebsite.OfferedService item in homeObject.OfferedServices)
                    {
                        <li>
                            <a href="#" data-filter=".@item.ServiceType">@item.ServiceType</a>
                        </li>
                    }

                </ul>
            </div>
            <div class="row">
                <ul class="work-items isotope js-isotope u-cf">

                    @foreach (CMSWebsite.OfferedService item in homeObject.OfferedServices)
                    {
                        <li class="four columns isotope-item @item.ServiceType">
                            <img src="@item.ExampleThumbnail.Url">
                            <div class="work-detail">
                                <div class="vertical-centered">
                                    <h3>@item.ServiceType</h3>
                                    <p class="separator orange">@item.ServiceDescription</p>
                                </div>
                            </div>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </section>

}


<!-- Help -->
@if (homeObject.HereToHelpButtonText != null)
{
    if (!string.IsNullOrWhiteSpace(homeObject.HereToHelpButtonText))
    {
        <section data-sr id="help" class="help u-full-width featured-bg-image">
            <h4 class="centered">
                <button class="button inverted">@Umbraco.Field("hereToHelpButtonText")</button>
            </h4>
        </section>
    }
}

<!-- Clients -->
@if (homeObject.OurClientsH3 != null)
{
    if (!string.IsNullOrWhiteSpace(homeObject.OurClientsH3))
    {
        <section data-sr id="clients" class="clients u-full-width">
            <div class="container">
                <div class="row">
                    <h3 class="separator">@Umbraco.Field("ourClientsH3")</h3>
                </div>
                <ul class="clients u-full-width u-cf">

                    @foreach (CMSWebsite.Client client in homeObject.OurClients)
                    {
                        <li>
                            <img src="@client.ClientThumbnail.Url" alt="@client.H1">
                        </li>

                    }


                </ul>
            </div>
        </section>
    }
}


<!-- About -->
<section data-sr id="about" class="about u-full-width">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3 class="separator">@Umbraco.Field("aboutUsH3")</h3>
                <h4>@Umbraco.Field("aboutUsH4")</h4>
            </div>
        </div>

        @if (homeObject.KeyStaffMembers != null)
        {
            <div class="row">
                <ul class="people-list">
                    @foreach (CMSWebsite.StaffMember item in homeObject.KeyStaffMembers)
                    {
                        <li class="three columns people-list-item">
                            <img src="@item.ThumbnailImage.Url">
                            <div class="people-hover">
                                <a href="@item.Url"><i class="fa fa-external-link"></i></a>
                                <div class="people-detail">
                                    <h3>@item.H1</h3>
                                    <p>@item.H2</p>
                                </div>
                            </div>
                        </li>
                    }
                    <li class="three columns people-list-item blank-feature">
                        <div class="vertical-centered">
                            <h3 class="separator">Want to join us?</h3>
                            <button class="button">Apply</button>
                        </div>
                    </li>
                </ul>
            </div>
        }
    </div>
</section>

<!-- Video -->
@if (homeObject.VideoLink != null)
{
    if (!string.IsNullOrWhiteSpace(homeObject.VideoLink))
    {
        <section data-sr id="video" class="video u-full-width featured-bg-image">
            <h4 class="centered">
                @Html.Raw(homeObject.VideoLink)
            </h4>
        </section>
    }
}


<!-- Why us -->
<section data-sr id="why-us" class="why u-full-width">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3 class="separator">@Umbraco.Field("whyChooseUsH3")</h3>
                <h4>@Umbraco.Field("whyChooseUsH4")</h4>
            </div>
        </div>
        <div class="row">
            <ul class="services">

                @if (!string.IsNullOrWhiteSpace(homeObject.ReasonOneTitle))
                {
                    <li class="four columns">
                        @if (homeObject.WhyChooseUsReasonOneImage != null)
                        {
                            <div class="service-image">
                                <img src="@homeObject.WhyChooseUsReasonOneImage.Url">
                            </div>
                        }
                        <h5>@homeObject.ReasonOneTitle</h5>
                        <p>
                            @homeObject.WhyChooseUsReasonOne
                        </p>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(homeObject.ReasonTwoTitle))
                {
                    <li class="four columns">

                        @if (homeObject.WhyChooseUsReasonTwoImage != null)
                        {
                            <div class="service-image">
                                <img src="@homeObject.WhyChooseUsReasonTwoImage.Url">
                            </div>
                        }

                        <h5>@homeObject.ReasonTwoTitle</h5>
                        <p>
                            @homeObject.WhyChooseUsReasonTwo
                        </p>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(homeObject.ReasonThreeTitle))
                {
                    <li class="four columns">

                        @if (homeObject.WhyChooseUsReasonThreeImage != null)
                        {
                            <div class="service-image">
                                <img src="@homeObject.WhyChooseUsReasonThreeImage.Url">
                            </div>
                        }
                        <h5>@homeObject.ReasonThreeTitle</h5>
                        <p>
                            @homeObject.WhyChooseUsReasonThree
                        </p>
                    </li>
                }

            </ul>
        </div>
    </div>
</section>

<!-- Quote -->
@if (!string.IsNullOrWhiteSpace(homeObject.GetAquoteButtonText))
                    {
    <section data-sr id="quote" class="quote featured-bg-image u-full-width">
            <h4 class="centered">
                <button class="button inverted">@Umbraco.Field("getAQuoteButtonText")</button>
            </h4>
    </section>
}


<!-- Contact Us -->
<section data-sr id="contact" class="container contact-us u-full-width u-max-full-width">

    <div class="container">
        <div class="row">
            <div class="twelve columns contact-us-form">
                <h3 class="separator">@Umbraco.Field("contactH3")</h3>
                <h4>@Umbraco.Field("contactH4")</h4>
                <form>
                    <div class="row">
                        <div class="six columns">
                            <input class="u-full-width" type="text" placeholder="Name" id="nameInput">
                        </div>
                        <div class="six columns">
                            <input class="u-full-width" type="email" placeholder="Email" id="emailInput">
                        </div>
                    </div>
                    <textarea class="u-full-width" placeholder="Message" id="messageInput"></textarea>
                    <input class="button u-pull-right" type="submit" value="Send">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns contact-us-details">
                <h3>Our Location</h3>
                <h5>
                    @Umbraco.Field("companyMainAddress")
                </h5>
                <div>
                    <iframe class="map-top"
                            width="598"
                            height="450"
                            src="https://www.google.com/maps/embed/v1/view?key=@Umbraco.Field("googleMapsApiKey")
                        &center=@Umbraco.Field("latitude"),@Umbraco.Field("longitude")&zoom=18" allowfullscreen></iframe>
                </div>
                <ul class="social-links">
                    @if (homeObject.TwitterLink != null)
                    {
                        <li>
                            <a href="@homeObject.TwitterLink" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    }
                    @if (homeObject.FacebookLink != null)
                    {
                        <li>
                            <a href="@homeObject.FacebookLink" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    

</section>


@*<div class="section values">
        <div class="container">
            <div class="row">
                <div class="one-third column value">
                    <h2 class="value-multiplier">67%</h2>
                    <h5 class="value-heading">Purchase Increase</h5>
                    <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
                </div>
                <div class="one-third column value">
                    <h2 class="value-multiplier">90%</h2>
                    <h5 class="value-heading">Multi-device Users</h5>
                    <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
                </div>
                <div class="one-third column value">
                    <h2 class="value-multiplier">66%</h2>
                    <h5 class="value-heading">Sad Users</h5>
                    <p class="value-description">Percentage of users that are frustrated with page load times.</p>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="section get-help">
        <div class="container">
            <h3 class="section-heading">Need help getting started?</h3>
            <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit the documentation!</p>
            <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
        </div>
    </div>*@

@*<div class="section categories">
        <div class="container">
            <h3 class="section-heading">Responsive Images</h3>
            <p class="section-description">Skeleton images sit easily in grid with .u-max-full-width class. I suggest exploring solution to serving different images based on device size.</p>
            <div class="row">
                <div class="one-half column category">
                    <img class="u-max-full-width" src="images/placeholder.png">
                </div>
                <div class="one-half column category">
                    <img class="u-max-full-width" src="images/placeholder.png">
                </div>
            </div>
        </div>
    </div>*@

