﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="index,follow" />

    @RenderSection("Meta", required: false)

    <!-- Mobile Specific Metas –––-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>


    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/topMenu.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!--Scripts-->
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/scripts/scrollreveal.js"></script>
    <script type="text/javascript" src="/scripts/singlenav.js"></script>
    <script type="text/javascript" src="/scripts/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
    <script type="text/javascript" src="~/scripts/topMenu.js"></script>
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>//-->



</head>
<body>

    <div class="topnav" id="myTopnav">

        
        @RenderSection("MainMenu", required: false)

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>


        <div class="two columns">
            <h1><a href="index.html">Home</a></h1>
        </div>


        <div id="nav" class="twelve columns">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </div>



        @RenderSection("Head", required: false)

        @RenderBody()

        @RenderSection("Footer", required: false)

        <!-- Footer -->

        <section data-sr class="footer u-full-width">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <footer id="footer">
                            <div class="inner">
                                <ul class="social-links">
                                    <li>
                                        <a href="http://twitter.com/brd" target="_blank">
                                            Twitter<i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/brd" target="_blank">
                                            Facebook<i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                </ul>
                                <ul class="copyright">
                                    <li>&copy; <a href="http://www.blackridgedesign.com">Black Ridge Design</a></li>

                                </ul>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </section>



        <!-- Scripts -->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="/scripts/main.js"></script>

</body>
</html>