﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.StaffMember>
@using ContentModels = CMSWebsite;
@using Umbraco.Web
@{
    var helper = new UmbracoHelper(UmbracoContext.Current);

    var typedHomeRootNodeId = helper.TypedContentAtRoot().FirstOrDefault().Id;

    var homeByGuid = helper.TypedContent(typedHomeRootNodeId);

    var homeObject = (CMSWebsite.Home)homeByGuid;

    var pageId = Umbraco.Field("pageID").ToString();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var umbracoPageId = Convert.ToInt32(pageId);
    IPublishedContent content = umbracoHelper.TypedContent(umbracoPageId);


}
@{
    Layout = "Master.cshtml";
}

@section Meta{

    <title>@Umbraco.Field("metaTitle")</title>
    <meta name="description" content="@Umbraco.Field("metaDescription")" />
    <link rel="canonical" href="@homeObject.UrlAbsolute()" />
    <meta property="og:title" content="@Umbraco.Field("metaTitle")" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="@Umbraco.Field("metaDescription")" />
    <meta property="og:locale" content="en-UK" />
    <meta property="og:site_name" content="" />
    <meta property="twitter:title" content="@Umbraco.Field("metaTitle")" />
    <meta property="twitter:description" content="@Umbraco.Field("metaDescription")" />
    <meta property="twitter:url" content="@homeObject.UrlAbsolute()" />

}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 100%;
        background-color: grey;
    }
</style>

<section id="hero" class="hero u-full-width">
    <div class="hero-image"></div>

    <div class="container centered">
        <div class="row">
            @section MainMenu {
                <a href="/">Home</a>
                @foreach (var item in homeObject.TopLevelMenuItems)
                {

                    if (item.Name == content.Name)
                    {

                        <a href="@item.Url" class="active">@item.Name</a>

                    }
                    else
                    {
                        <a href="@item.Url">@item.Name</a>
                    }

                }

            }

            <h1>@Umbraco.Field("H1")</h1>
            <h2>@Umbraco.Field("H2")</h2>
            <div>
                <img src="@CurrentPage._thumbnailImage.Url" />
            </div>

        </div>
        <div class="row">
            @CurrentPage._aboutMe
        </div>

    </div>
</section>