.container {
    margin-top: 50px;
}

#nav {
    margin: 13px 0 0 0;
}

    #nav ul li {
        display: inline;
        margin: 0 20px 0 0;
        margin-bottom: 130px;
    }

    #nav a {
        text-decoration: none;
    }

        #nav a:hover {
            text-decoration: underline;
        }
